* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: 'Roboto', 'sans-serif';
}

.product_photo {
    margin: 25px;
    width: 200px;
    height: 600px;
}

.photo {
    margin: 50px;
    width: 100px;
    height: 130px;
    cursor: pointer;
}

.photo_shirt {
    max-width:100%;
    height:auto;
}

#zoom_shirt{
    margin: 80px 100px 40px 100px;
    cursor: pointer;
    display: block;
}

#zoom_photo {
    width: 400px;
    height: 500px;
    display: block;
}

.product {
    margin: 20px;
    margin-left: auto;
}

.title {
    margin-top: 40px;
}

.product_navigation {
    width: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.product_price {
    width: 400px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.product_price-old {
    margin-right: 10px;
    opacity: 0.3;
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 500;
}

.product_price-new {
    opacity: 0.5;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
}

.product_price-new::after {
    content: '₽';
}

.product_price-promo-code {
    font-size: 20px;
}

.price::after {
    content: '₽';
}

.product_info {
    margin-top: 50px;
    width: 400px;
    background-color: #f4f4f4;
    padding: 15px 0 15px 20px;
}

.product_quantity {
    margin-left: 8px;
    font-size: 0;
    margin-top: 50px;
}

input{
    width: 50px;
    border: 0;
}

.product_quantity-total {
    width: 110px;
    padding: 8px;
    background-color: #f4f4f4;
    border-top: 1px #808080 solid;
    border-bottom: 1px #808080 solid;
    text-align: center;
}

.product_quantity-increase{
    padding: 8px;
    background-color: white;
    border: 1px #808080 solid;
}

.product_quantity-decrease{
    padding: 8px;
    background-color: white;
    border: 1px #808080 solid;
}

.product_actions {
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.custom-button {
    background-color: white;
    width: 210px;
    height: 50px;
    border: black 1px solid;
    font-weight: 600;
}

.custom-button:hover {
    background-color: grey;
    transition: 0.7s;
    color: white;
    cursor: pointer;
}

.custom-button--blue {
    border: none;
    color: white;
    background-color: #006be5;
    cursor: pointer;
}

.custom-button--blue:hover{
    background-color: white;
    color: blue;
    transition: 0.7s;
    border: 1px blue solid;
}

.product_text {
    width: 500px;
    margin-top: 50px;
    opacity: 0.6;
}

.product_share {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
    opacity: 0.6;
}

.product_share-social {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.product_share-quantity {
    background-color: #efefef;
    margin-left: 25px;
    padding: 10px;
    position: relative;
}

.product_share-quantity::before {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-right: 10px solid #efefef;
    right: 44px;
    bottom: 15px;
}
